In [1]:
print ("Nishant Vyas")

Nishant Vyas

In [3]:
print ( 6+6)

12

In [4]:
name= input("Enter Your Name:")
print("Wellcome,", name)

Enter Your Name: Nishant

Wellcome, Nishant

In [5]:
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
sum = a + b
print("Sum:", sum)

Enter first number:  4
Enter second number:  5

Sum: 9.0

In [6]:
##### a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
sum = a + b
print("Sum:", sum)

Enter first number:  5
Enter second number:  5

Sum: 10.0

In [7]:
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
difference = a - b
print("Difference:", difference)

Enter first number:  10
Enter second number:  6

Difference: 4.0

In [8]:
price = float(input("Enter price per item: "))
quantity = float(input("Enter quantity: "))
total = price * quantity
print("Total cost:", total)

Enter price per item:  200
Enter quantity:  6

Total cost: 1200.0

In [9]:
a = float(input("Enter dividend: "))
b = float(input("Enter divisor: "))
division = a / b
print("Result:", division)

Enter dividend:  600
Enter divisor:  4

Result: 150.0

In [10]:
a = int(input("Enter dividend: "))
b = int(input("Enter divisor: "))
floor_div = a // b
print("Floor Division:", floor_div)

Enter dividend:  12
Enter divisor:  5

Floor Division: 2

In [11]:
a = int(input("Enter dividend: "))
b = int(input("Enter divisor: "))
remainder = a % b
print("Remainder:", remainder)

Enter dividend:  12
Enter divisor:  5

Remainder: 2

In [12]:
base = float(input("Enter the base number: "))
power = float(input("Enter the power: "))
result = base ** power
print("Result:", result)

Enter the base number:  2
Enter the power:  3

Result: 8.0

In [13]:
item1 = float(input("Enter price of item 1: "))
item2 = float(input("Enter price of item 2: "))
item3 = float(input("Enter price of item 3: "))
total = item1 + item2 + item3
print(f"Total bill: ₹{total}")

Enter price of item 1:  100
Enter price of item 2:  20
Enter price of item 3:  30

Total bill: ₹150.0

In [14]:
m1 = float(input("Marks in Subject 1: "))
m2 = float(input("Marks in Subject 2: "))
m3 = float(input("Marks in Subject 3: "))
avg = (m1 + m2 + m3) / 3
print(f"Average Marks: {avg}")

Marks in Subject 1:  45
Marks in Subject 2:  80
Marks in Subject 3:  90

Average Marks: 71.66666666666667

In [15]:
price = float(input("Enter item price: "))
gst = float(input("Enter GST %: "))
gst_amount = (price * gst) / 100
final_amount = price + gst_amount
print(f"Final Price: ₹{final_amount}")

Enter item price:  100
Enter GST %:  18

Final Price: ₹118.0

In [16]:
p = float(input("Enter Principal amount: "))
r = float(input("Enter Rate of Interest: "))
t = float(input("Enter Time (in years): "))
si = (p * r * t) / 100
print("Simple Interest:", si)

Enter Principal amount:  20000
Enter Rate of Interest:  10
Enter Time (in years):  2

Simple Interest: 4000.0

In [17]:
first = input("Enter your first name: ")
last = input("Enter your last name: ")
full_name = first + " " + last
print("Full Name:", full_name)

Enter your first name:  Nishant
Enter your last name:  Vyas

Full Name: Nishant Vyas

In [18]:
total_bill = float(input("Enter total bill amount: "))
people = int(input("Enter number of friends: "))
per_person = total_bill / people
print("Each person should pay:", per_person)

Enter total bill amount:  5500
Enter number of friends:  10

Each person should pay: 550.0

In [19]:
distance = float(input("Enter distance travelled (in km): "))
time = float(input("Enter time taken (in hours): "))
speed = distance / time
print("Average Speed:", speed, "km/h")

Enter distance travelled (in km):  200
Enter time taken (in hours):  2

Average Speed: 100.0 km/h

In [20]:
marks_obtained = float(input("Enter total marks obtained: "))
total_marks = float(input("Enter total possible marks: "))
percentage = (marks_obtained / total_marks) * 100
print("Percentage:", percentage, "%")

Enter total marks obtained:  770
Enter total possible marks:  1000

Percentage: 77.0 %

In [21]:
cost_price = float(input("Enter cost price: "))
selling_price = float(input("Enter selling price: "))
profit = selling_price - cost_price
print("Profit:", profit)

Enter cost price:  449
Enter selling price:  598

Profit: 149.0

In [22]:
current_year = int(input("Enter current year: "))
age = int(input("Enter your age: "))
birth_year = current_year - age
print("Estimated birth year:", birth_year)

Enter current year:  2025
Enter your age:  32

Estimated birth year: 1993

In [23]:
age = int(input("Enter your age: "))
if age >= 18:
	print("You are eligible to vote.")

Enter your age:  85

You are eligible to vote.

In [25]:
marks = int(input("Enter your marks: "))
if marks > 90:
	print("Excellent! You scored above 90.")

Enter your marks:  98

Excellent! You scored above 90.

In [26]:
bill = float(input("Enter total bill amount: "))
if bill > 500:
	print("You qualify for a discount coupon!")

Enter total bill amount:  800

You qualify for a discount coupon!

In [28]:
name = input("Enter your name: ")
if name.startswith("A"):
	print("Wow! Your name starts with A.")

Enter your name:  Akash

Wow! Your name starts with A.

In [29]:
number = int(input("Enter a number: "))
if number % 2 == 0:
	print("This is an even number.")

Enter a number:  12

This is an even number.

In [33]:
marks = int(input("Enter obtained marks:"))
if marks>95:
    print("Full Marks")

Enter obtained marks: 98

Full Marks

In [35]:
number = float(input("Enter number:"))
if number>0:
    print("Positive number")

Enter number: 8

Positive number

In [36]:
email = input("Enter email: ")
if "@" in email:
    print("Valid email (contains @)")

Enter email:  vyasn36@gmail.com

Valid email (contains @)

In [37]:
salary = float(input("Enter salary: "))
threshold = 50000 
if salary > threshold:
    print("Salary is above threshold")

Enter salary:  80000

Salary is above threshold

In [38]:
enter_value = input("Enter yes or no: ")

if enter_value.lower() == "yes":
    print("You entered yes")

Enter yes or no:  Yes

You entered yes

In [40]:
marks = int(input("Enter your marks: "))
if marks >= 40:
	print("You passed!")
else:
	print("You failed.")

Enter your marks:  20

You failed.

In [41]:
num = int(input("Enter a number: "))
if num % 2 == 0:
	print("Even number")
else:
	print("Odd number")

Enter a number:  13

Odd number

In [42]:
amount = float(input("Enter purchase amount: "))
if amount >= 500:
	print("You get a discount!")
else:
	print("No discount available.")

Enter purchase amount:  865

You get a discount!

In [43]:
temp = float(input("Enter today's temperature: "))
if temp > 30:
	print("It's hot today.")
else:
	print("Weather is pleasant.")

Enter today's temperature:  24

Weather is pleasant.

In [46]:
username = input("Enter your username: ")
if username == "admin":
	print("Welcome, admin!")
else:
	print("Access denied.")

Enter your username:  Admin

Access denied.

In [47]:
budget = float(input("Enter your budget for the month: "))
spent = float(input("Enter amount spent: "))
if spent > budget:
	print("You’ve exceeded your budget!")
else:
    print("You’re within budget.")

Enter your budget for the month:  20000
Enter amount spent:  22000

You’ve exceeded your budget!

In [49]:
letter = input("Enter a single letter: ")
if letter >= 'A' and letter <= 'Z':
	print("This is an uppercase letter.")
else:
	print("This is not an uppercase letter.")

Enter a single letter:  d

This is not an uppercase letter.

In [50]:
number = float(input("Enter a number: "))
if number > 0:
    print("Positive number")
else:
    print("Negative number")

Enter a number:  -4

Negative number

In [51]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
if num1 > num2:
    print("First number is greater")
elif num1 < num2:
    print("Second number is greater")
else:
    print("Both numbers are equal")

Enter first number:  4
Enter second number:  5

Second number is greater

In [52]:
attendance = float(input("Enter attendance percentage: "))
if attendance >= 75:
    print("Allowed to sit in exam")
else:
    print("Not allowed to sit in exam")

Enter attendance percentage:  82

Allowed to sit in exam

In [53]:
salary = float(input("Enter salary: "))
if salary > 1200000:
    print("Tax applicable")
else:
    print("Tax not applicable")

Enter salary:  1800000

Tax applicable

In [54]:
year = int(input("Enter a year: "))
if year % 4 == 0 :
    print("Leap year")
else:
    print("Not a leap year")

Enter a year:  2020

Leap year

In [55]:
marks = int(input("Enter your marks: "))
if marks >= 90:
	print("Grade A")
elif marks >= 75:
	print("Grade B")
elif marks >= 60:
	print("Grade C")
else:
	print("Grade D")

Enter your marks:  69

Grade C

In [56]:
temp = float(input("Enter temperature in °C: "))
if temp > 35:
	print("Very Hot")
elif temp > 25:
	print("Warm")
elif temp > 15:
	print("Pleasant")
else:
	print("Cold")

Enter temperature in °C:  20

Pleasant

In [57]:
bmi = float(input("Enter your BMI: "))
if bmi < 18.5:
	print("Underweight")
elif bmi < 25:
	print("Normal")
elif bmi < 30:
	print("Overweight")
else:
	print("Obese")

Enter your BMI:  31

Obese

In [58]:
income = float(input("Enter your annual income: "))
if income <= 250000:
    print("No Tax")
elif income <= 500000:
    print("5% Tax Applicable")
elif income <= 1000000:
    print("20% Tax Applicable")
else:
    print("30% Tax Applicable")

Enter your annual income:  900000

20% Tax Applicable

In [59]:
day = int(input("Enter a number (1-7): "))
if day == 1:
    print("Monday")
elif day == 2:
    print("Tuesday")
elif day == 3:
    print("Wednesday")
elif day == 4:
    print("Thursday")
elif day == 5:
    print("Friday")
elif day == 6:
    print("Saturday")
elif day == 7:
    print("Sunday")
else:
    print("Invalid number")

Enter a number (1-7):  8

Invalid number

In [60]:
battery = int(input("Enter battery percentage: "))
if battery == 100:
    print("Battery Full")
elif battery >= 80:
    print("High Battery")
elif battery >= 50:
    print("Medium Battery")
elif battery >= 20:
    print("Low Battery")
else:
    print("Critical Battery – Charge Now!")

Enter battery percentage:  15

Critical Battery – Charge Now!

In [61]:
amount = float(input("Enter order amount: "))
if amount > 500:
    print("Free Shipping")
elif amount > 400:
    print("Shipping charge ₹75")
else:
    print("Shipping charge ₹150")

Enter order amount:  200

Shipping charge ₹150

In [62]:
rating = int(input("Enter rating (1-5): "))
if rating == 5:
    print("Excellent")
elif rating == 4:
    print("Very Good")
elif rating == 3:
    print("Good")
elif rating == 2:
    print("Needs Improvement")
elif rating == 1:
    print("Poor")
else:
    print("Invalid rating")

Enter rating (1-5):  5

Excellent

In [63]:
for i in range(1, 11):
	print(i)

1
2
3
4
5
6
7
8
9
10

In [64]:
for i in range(5):
	print("Hello")

Hello
Hello
Hello
Hello
Hello

In [66]:
for i in range(2, 21, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [67]:
word = input("Enter a word: ")
for char in word:
    print(char)

Enter a word:  nishant

n
i
s
h
a
n
t

In [69]:
for i in range(1, 6):
    print("Square of", i, "is", i * i)

Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25

In [70]:
for i in range(1, 20, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [71]:
n = int(input("Enter a number to start countdown: "))
for i in range(n, 0, -1):
    print(i)

Enter a number to start countdown:  20

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [75]:
n = int(input("How many stars? "))
for i in range(n):
    print("*", end=" ")

How many stars?  7

* * * * * * *

In [76]:
for i in range(1, 6):
    print(" " * (5 - i) + "* " * i)

    *
   * *
  * * *
 * * * *
* * * * *

In [77]:
for i in range(5, 0, -1):
    print("*" * i)

*****
****
***
**
*

In [78]:
for i in range(1, 6):
    print("*" * i)

*
**
***
****
*****

In [79]:
for i in range(1, 6):
    print("Cube of", i, "=", i**3)

Cube of 1 = 1
Cube of 2 = 8
Cube of 3 = 27
Cube of 4 = 64
Cube of 5 = 125

In [80]:
num = int(input("Enter a number: "))
for i in range(1, 11):
    print(num, "x", i, "=", num * i)

Enter a number:  6

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [81]:
num = int(input("Enter a number: "))
for i in range(1, 11):
    print(num, "x", i, "=", num * i)

Enter a number:  16

16 x 1 = 16
16 x 2 = 32
16 x 3 = 48
16 x 4 = 64
16 x 5 = 80
16 x 6 = 96
16 x 7 = 112
16 x 8 = 128
16 x 9 = 144
16 x 10 = 160

In [82]:
for i in range(1, 11):
    print(2 * i)

2
4
6
8
10
12
14
16
18
20

In [83]:
for i in range(1, 11):
    print((2 * i)-1)

1
3
5
7
9
11
13
15
17
19

In [85]:
for i in range(1, 51):
    if int(i**0.5)**2 == i:
        print(i)

1
4
9
16
25
36
49

In [86]:
for i in range(1, 8): 
    print(i*i)

1
4
9
16
25
36
49

In [87]:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [88]:
i = 10
while i >= 1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

In [90]:
text = ""
while text != "stop":
    text = input("Type 'stop' to exit: ")

Type 'stop' to exit:  start
Type 'stop' to exit:  stop

In [91]:
total = 0
num = int(input("Enter a number (0 to stop): "))
while num != 0:
    total += num
    num = int(input("Enter another number (0 to stop): "))
print("Total:", total)

Enter a number (0 to stop):  4
Enter another number (0 to stop):  3
Enter another number (0 to stop):  1
Enter another number (0 to stop):  4
Enter another number (0 to stop):  6
Enter another number (0 to stop):  3
Enter another number (0 to stop):  1
Enter another number (0 to stop):  0

Total: 22

In [92]:
password = ""
while password != "admin123":
    password = input("Enter password: ")
print("Access granted")

Enter password:  admin123

Access granted

In [93]:
import random
secret = random.randint(1, 10)
guess = int(input("Guess the number (1-10): "))
if guess == secret:
    print("You guessed it right!")
else:
    print("Wrong! The number was", secret)

Guess the number (1-10):  4

Wrong! The number was 8

In [96]:
for i in range(1,6):
    print(2*i)

2
4
6
8
10

In [97]:
for i in range(2, 11, 2):
    print(i)

2
4
6
8
10

In [98]:
num = int(input("Enter a number: "))
for i in range(num, 0, -1):
    print(i)

Enter a number:  8

8
7
6
5
4
3
2
1

In [101]:
for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ":
    print(letter, end=" ")

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [103]:
password = input("Enter password (6 characters): ")

while len(password) != 6:
    print("Invalid! Password must be 6 characters long.")
    password = input("Enter password again: ")

print("Password accepted!")

Enter password (6 characters):  nosd

Invalid! Password must be 6 characters long.

Enter password again:  nishan

Password accepted!